rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read and write access to all collections.
    // This is for debugging and not recommended for production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
